.prodVend{
    float: right;
}


.star{
    margin-left: 1rem;
    display: inline;
}

.form-coment{
  margin-top: 2rem;
}

.cont-comentario{
  clear: both;
}


.cont-related{
  display: flex;
}

.cont-desc{
  width: 40%;
}

.gallery{
  width: 40%;
}

.related{
  height: 15rem;
}